#tabnotes-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 0;
  color: #423e27;
  background: #e3b23c;
  transform: translateX(35px) translateY(10px) rotate(45deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
